.emojioneselector {
  display: none;
}

.emojioneselector-filters {
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #e5e5e5;
  width: 100%;
  height: 21px;
  /*padding: 4px 0;*/
  position: relative;
  overflow: hidden;
}
/* line 76, ../scss/emojionearea.scss */
.emojioneselector-filters .emojionselector-filter {
  padding: 2px 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  top: 0 !important;
  margin: 0;
  width: 21px;
  height: 21px;
  display: inline-block;
  background-color: #e5e5e5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  /*opacity: 0.7;*/
}

.emojioneselector-filters .emojionselector-filter.active {
  box-shadow: 0px 10px 15px 2px #000;
  background-color: #fff; 
}

.emojioneselector-filters .emojionselector-filter:not(.active) {
  border-bottom: 1px solid #666;
}

.emojioneselector-tabs {
  /*padding: 5px 0;*/
}

.emojionselector-tab {
  overflow: auto;
  width: 190px;
  height: 170px;  
}

.emojioneselector-tabs .emojionselector-tab .emojibtn {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 21px;
  height: 21px;
  float: left;
  display: block;
  margin: 1px;
  padding: 3px;
}

.emojioneselector-tabs .emojionselector-tab .emojibtn:hover {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e4e4e4;
  cursor: pointer;
}

.emojioneselector-tabs .emojionselector-tab .emojibtn i,
.emojioneselector-tabs .emojionselector-tab .emojibtn img {
  float: left;
  display: block;
  width: 21px;
  height: 21px;
}

.emojioneselector-tabs .emojionselector-tab .emojibtn [class*=emojione-] {
  margin: 0;
  top: 0;
}